################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.gitignore
/.gitignore
/DataFiles/~$Textile_Exports.xlsx
/DataFiles/~$World_Development_Indicators.xlsx
